<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.Name %>
</p>

<p>
  <strong>Fathername:</strong>
  <%= @student.FatherName %>
</p>

<p>
  <strong>Rollno:</strong>
  <%= @student.RollNo %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.Email %>
</p>

<p>
  <strong>Status:</strong>
  <%= @student.Status %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
